---
import BaseLayout from '../components/BaseLayout.astro'
import BaseButton from '../components/BaseButton.astro'
import Icon from '../components/Icon.astro'

const schema = {
  '@context': 'https://schema.org',
  '@type': 'LocalBusiness',
  name: 'Belly Pão',
  url: 'https://bellypao.com.br',
  logo: 'https://bellypao.com.br/logo.png',
  image: 'https://bellypao.com.br/banner.jpg',
  description: 'Descrição curta e atraente da padaria',
  address: {
    '@type': 'PostalAddress',
    streetAddress: 'Rua Porteiras, 254, Cid. Jardim Cumbica',
    addressLocality: 'Guarulhos',
    addressRegion: 'São Paulo',
    postalCode: '07180-090',
    addressCountry: 'BR',
  },
  telephone: '+55 (11) 94548-8607',
  priceRange: '$$',
  openingHoursSpecification: [
    {
      '@type': 'OpeningHoursSpecification',
      dayOfWeek: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
      opens: '06:00',
      closes: '18:30',
    },
    {
      '@type': 'OpeningHoursSpecification',
      dayOfWeek: ['Saturday', 'Sunday'],
      opens: '06:00',
      closes: '11:30',
    },
  ],
  hasMap: 'https://maps.app.goo.gl/SfVU17vj5jhvVb3GA',
  sameAs: ['https://www.instagram.com/bellypao.ind/'],
}
---

<BaseLayout title='Belly Pão'>
  <section
    slot='header'
    class='flex flex-col items-center justify-center gap-y-6 pt-12 sm:pt-6 pb-60 lg:py-[6.875rem] lg:gap-y-4 xl:py-[7.5rem]'
  >
    <h1
      class='font-fields font-extrabold px-6 text-[2.5rem] leading-[3rem] text-center text-[#FFECCC] lg:text-[4rem] lg:leading-[4.5rem]'
    >
      O aroma do pão quente é um convite para começar o dia com sabor!
    </h1>
    <BaseButton
      variant='primary'
      size='sm'
      icon='whatsapp'
      href='https://wa.me/5511945488607'
      >Sinta este aroma, fale conosco!</BaseButton
    >
  </section>
  <section id='diferencial' class='bg-white relative'>
    <div
      class='absolute top-0 left-0 right-0 h-14 lg:h-[4.5rem] z-[1] bg-pattern-gradient-with-overlay'
    >
    </div>
    <div
      class='container mt-1 -translate-y-14 lg:-translate-y-20 z-[2] text-brown-700 text-center pt-16 sm:pt-20 lg:grid lg:grid-cols-2 lg:text-left lg:gap-x-6 lg:items-center'
    >
      <div class='flex flex-col gap-y-2 items-center lg:items-start'>
        <h2
          class='font-fields font-extrabold text-[2rem] leading-[2.375rem] lg:text-5xl lg:leading-[3.5rem]'
        >
          Produtos frescos e ingredientes selecionados
        </h2>
        <h3
          class='text-[#FFAA33] font-medium text-base leading-5 uppercase lg:text-2xl lg:leading-[1.875rem]'
        >
          Qualidade que Você Pode Saborear!
        </h3>
        <p class='font-medium text-balance'>
          Nosso compromisso é oferecer produtos feitos com ingredientes frescos
          e selecionados. Cada mordida é uma experiência única. Conheça a
          diferença que a qualidade faz em nossos pães, bolos e salgados.
        </p>
        <BaseButton
          variant='secondary-outline'
          size='sm'
          icon='whatsapp'
          href='https://wa.me/5511945488607'
          class:list={['mt-4']}>Você merece o melhor, fale conosco!</BaseButton
        >
      </div>
      <div class='mt-6 flex items-center justify-center lg:mt-0 lg:justify-end'>
        <img
          src='https://placehold.co/343x264/D0CAC6/503C2D'
          alt='placehold'
          width='343'
          height='264'
          class='aspect-[343/264] rounded-lg w-[343px] h-[264px] lg:w-[468px] lg:h-[362px] xl:w-[517px] xl:h-[400px]'
          loading='lazy'
          decoding='async'
        />
      </div>
    </div>
  </section>
  <section
    id='servicos'
    class='bg-brown-700 bg-[url(/images/belly-pattern.png)] bg-[length:155.1px_32.5px]'
  >
    <h2 class='sr-only'>Serviços</h2>
    <div class='container py-8 flex flex-col gap-4 sm:gap-6 lg:flex-row'>
      <article
        class='flex-1 bg-brown-700 flex flex-col justify-center items-center px-4 py-6 text-[#FFECCC] text-center border border-brown-800 rounded-lg xl:grid xl:grid-cols-[80px_1fr] xl:text-left xl:items-start xl:gap-x-8'
      >
        <div
          class='w-20 h-20 p-4 flex rounded-lg border border-[#FFAA33] text-[#FFAA33] justify-center items-center mb-4 xl:row-span-2 xl:justify-start'
        >
          <Icon name='truck' width='48' height='48' />
        </div>
        <h3 class='font-fields font-extrabold text-[2rem] leading-8 mb-2'>
          Para empresas
        </h3>
        <p class='text-base leading-5 text-balance'>
          Proporcionamos experiências deliciosas com nosso serviço de <strong
            >distribuição de café da manhã e tarde para empresas</strong
          >. Surpreenda seus colaboradores com produtos frescos e de alta
          qualidade.
        </p>
      </article>
      <article
        class='flex-1 bg-brown-700 flex flex-col justify-center items-center px-4 py-6 text-[#FFECCC] text-center border border-brown-800 rounded-lg xl:grid xl:grid-cols-[80px_1fr] xl:text-left xl:items-start xl:gap-x-8'
      >
        <div
          class='w-20 h-20 p-4 flex rounded-lg border border-[#FFAA33] text-[#FFAA33] justify-center items-center mb-4 xl:row-span-2'
        >
          <Icon name='shop' width='48' height='48' />
        </div>
        <h3 class='font-fields font-extrabold text-[2rem] leading-8 mb-2'>
          Atendimento local
        </h3>
        <p class='text-base leading-5 text-balance'>
          Estamos aqui para atender você, morador da região. Nossa padaria é um
          ponto de encontro para aqueles que valorizam produtos feitos com
          carinho. Visite-nos e sinta-se em casa.
        </p>
      </article>
    </div>
  </section>
  <section id='produtos'>
    <div
      class='container text-brown-700 text-center pt-16 pb-8 sm:pt-20 sm:pb-10'
    >
      <div
        class='flex flex-col gap-4 sm:grid sm:grid-cols-2 lg:gap-6 lg:grid-cols-3 items-center'
      >
        <h2
          class='font-fields font-extrabold text-[2rem] leading-[2.375rem] mb-2 sm:col-span-2 sm:mb-4 lg:col-span-3 lg:text-5xl lg:leading-[3.5rem]'
        >
          Leve qualidade e sabor à sua mesa!
        </h2>
        {
          Array(6)
            .fill(0)
            .map(() => (
              <img
                src='https://placehold.co/343x343/D0CAC6/503C2D'
                alt='placehold'
                width='343'
                height='343'
                class='aspect-square rounded-lg w-[343px] h-[343px] object-cover sm:w-[280px] sm:h-[280px] lg:w-[304px] lg:h-[304px] xl:w-[389px] xl:h-[389px]'
                loading='lazy'
                decoding='async'
              />
            ))
        }
        <BaseButton
          variant='primary'
          size='sm'
          icon='whatsapp'
          href='https://wa.me/5511945488607'
          block
          centered
          class='mt-4 sm:col-span-2 sm:mt-4 lg:col-span-3 sm:!w-fit sm:place-self-center'
          >Prove essas delícias, fale conosco!</BaseButton
        >
      </div>
    </div>
  </section>
  <section id='quem-somos' class='overflow-hidden'>
    <div
      class='container text-brown-700 text-center pt-8 pb-14 sm:pb-20 sm:pt-10 lg:grid lg:grid-cols-2 lg:text-left lg:gap-x-6 lg:items-center'
    >
      <div class='flex flex-col gap-y-2'>
        <h2
          class='font-fields font-extrabold text-[2rem] leading-[2.375rem] lg:text-5xl lg:leading-none'
        >
          Quem somos
        </h2>
        <h3 class='text-[#FFAA33] font-medium text-base leading-5 uppercase'>
          Compromisso, Qualidade e Crescimento Coletivo.
        </h3>
        <p class='font-medium text-balance'>
          Com intenção de atender com excelência, a Belly Pão iniciou sua
          jornada no mercado alimentício, priorizando a satisfação dos clientes.
          Nos comprometemos a atender às necessidades com os melhores produtos,
          seguindo rigorosos padrões de higiene e normas da ANVISA.
        </p>
        <p class='font-medium text-balance'>
          Em busca do crescimento, confiamos no esforço, na vontade de trabalhar
          e no suporte oferecido a uma equipe capacitada. Acreditamos no
          potencial de cada funcionário, reconhecendo que o sucesso da empresa é
          construído coletivamente.
        </p>
      </div>
      <div class='mt-6 flex items-center justify-center lg:mt-0 lg:justify-end'>
        <div
          class='relative block aspect-[343/264] w-[343px] h-[264px] lg:w-[468px] lg:h-[362px] xl:w-[517px] xl:h-[400px]'
        >
          <img
            src='https://placehold.co/343x264/D0CAC6/503C2D'
            alt='placehold'
            width='343'
            height='264'
            class='aspect-[343/264] rounded-lg w-[343px] h-[264px] lg:w-[468px] lg:h-[362px] xl:w-[517px] xl:h-[400px]'
            loading='lazy'
            decoding='async'
          />

          <div
            class='absolute top-[49%] lg:top-[43%] left-[-24px] w-12 h-12 min-w-12 flex justify-center items-center bg-brown-700 rounded-full text-[#FFAA33]'
          >
            <Icon name='wheat' width='24' height='24' />
          </div>

          <div
            class='absolute top-[-23.73px] right-[-24px] w-12 h-12 min-w-12 flex justify-center items-center bg-[#FFAA33] rounded-full text-brown-700'
          >
            <Icon name='bread' width='24' height='24' />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class='bg-[#FFECCC] py-8 relative' slot='footer'>
    <div
      class='absolute top-0 left-0 right-0 bottom-0 z-[1] opacity-20 bg-[url(/images/belly-pattern.png)] bg-[length:155.1px_32.5px]'
    >
    </div>
    <div
      class='container relative flex flex-col gap-x-2 items-center justify-center z-[2] lg:flex-row lg:gap-y-6 xl:justify-start'
    >
      <h2
        class='text-2xl text-brown-700 text-center font-fields font-extrabold z-10 lg:text-[1.75rem] lg:leading-[1.29] xl:text-[2.5rem] lg:text-left lg:text-balance'
      >
        Demonstre gratidão aos seus colaboradores com alimentos de alta
        qualidade!
      </h2>
      <BaseButton
        variant='primary'
        icon='whatsapp'
        class='whitespace-nowrap'
        href='https://wa.me/5511945488607'>Fale conosco via WhatsApp</BaseButton
      >
    </div>
  </section>
</BaseLayout>
<script type='application/ld+json' set:html={JSON.stringify(schema)} />
<style>
  .bg-pattern-gradient-with-overlay {
    @apply bg-[length:93.3px_19.5px] mt-[2px] lg:mt-1 lg:bg-[length:155.1px_32.5px] relative;
    background-image: url(/images/belly-pattern.png);
  }
  .bg-pattern-gradient-with-overlay:before {
    z-index: 2;
    position: absolute;
    content: ' ';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(255, 255, 255, 1) 100%
    );
  }
</style>
