---

---

<html class='h-full' lang='pt-br'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <title>Belly Pão</title>
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      rel='preconnect'
      href='https://ik.imagekit.io/pedrohenri/'
      crossorigin
    />
    <link
      href='https://fonts.googleapis.com/css2?family=Quicksand:wght@400..900&display=swap'
      rel='preload'
      as='style'
      onload="this.rel='stylesheet'"
    />
  </head>
  <body class='h-full'>
    <div class='h-full grid place-items-center bg-brown-700'>
      <div class='flex flex-col gap-2'>
        <img src='/images/logo.png' alt='Logo' width='300' height='75' />
        <a
          class='text-[#FFECCC] font-medium hover:text-[#FFAA33] transition-colors text-center'
          href='https://wa.me/5511945488607'
          >(11) 94548-8607
        </a>
      </div>
    </div>
  </body>
</html>
