---
import type { AvailableIcons } from '../types.ts'
import Icon from './Icon.astro'

type Sizes = 'sm' | 'base'

interface Props {
  href?: string
  variant: string
  icon?: AvailableIcons
  reverse?: boolean
  block?: boolean
  centered?: boolean
  size?: Sizes
}

const {
  variant,
  icon,
  reverse,
  size = 'base',
  block = false,
  centered = false,
} = Astro.props
---

<a
  href={Astro.props.href}
  class:list={[
    'btn',
    `btn-${variant}`,
    {
      'btn-reverse': reverse,
      'btn-block': block,
      'btn-center': centered,
      'btn-sm': size === 'sm',
      'btn-base': size === 'base',
    },
  ]}
>
  <span><slot /></span>
  {icon && <Icon name={icon} />}
</a>

<style>
  .btn {
    @apply w-fit flex flex-row py-4 px-6 gap-x-2 rounded-lg text-base transition-all ease-out duration-200;
  }
  .btn-base {
    @apply py-4 px-6;
  }
  .btn-sm {
    @apply py-3 px-3;
  }
  .btn-primary {
    @apply bg-[#FFAA33] text-[#503C2D] ring-4 ring-transparent hover:ring-[#FFAA33]/50;
  }
  .btn-primary-outline {
    @apply border border-[#FFAA33] text-[#FFAA33] hover:bg-[#FFAA33] hover:text-brown-700;
  }
  .btn-center {
    @apply justify-center;
  }
  .btn-block {
    @apply w-full;
  }
  .btn-reverse {
    @apply flex-row-reverse;
  }
</style>
