---
import type { AvailableIcons } from '../types.ts'
import Icon from './Icon.astro'

type Sizes = 'xs' | 'sm' | 'base'

interface Props {
  href?: string
  variant: string
  icon?: AvailableIcons
  reverse?: boolean
  block?: boolean
  centered?: boolean
  size?: Sizes
  class?: string
}

const {
  href,
  variant,
  icon,
  reverse,
  size = 'base',
  block = false,
  centered = false,
  class: className = '',
} = Astro.props

const isExternalLink =
  href?.startsWith('http') || !href?.startsWith('/') || !href?.startsWith('#')
const isSizeXs = size === 'xs'
---

<a
  href={href}
  class:list={[
    'btn',
    `btn-${variant}`,
    {
      'btn-reverse': reverse,
      'btn-block': block,
      'btn-center': centered,
      'btn-xs': isSizeXs,
      'btn-sm': size === 'sm',
      'btn-base': size === 'base',
    },
    className,
  ]}
  target={isExternalLink ? '_blank' : undefined}
  rel={isExternalLink ? 'noopener noreferrer' : undefined}
>
  <span><slot /></span>
  {icon && <Icon name={icon} width={'20'} height={'20'} />}
</a>

<style>
  .btn {
    @apply w-fit flex items-center flex-row py-4 px-6 gap-x-2 rounded-lg text-base transition-all ease-out duration-200 box-border font-semibold;
  }
  .btn-base {
    @apply py-4 px-6 h-14;
  }
  .btn-sm {
    @apply py-3 px-3 h-12;
  }
  .btn-xs {
    @apply py-2 px-6 h-10;
  }
  .btn-primary {
    @apply bg-[#FFAA33] text-[#503C2D] ring-4 ring-transparent hover:ring-[#FFAA33]/50;
  }
  .btn-primary-outline {
    @apply border border-[#FFAA33] text-[#FFAA33] hover:bg-[#FFAA33] hover:text-brown-700;
  }
  .btn-secondary-outline {
    @apply border border-brown-700 text-brown-700 hover:bg-brown-700 hover:text-[#FFECCC];
  }
  .btn-center {
    @apply justify-center;
  }
  .btn-block {
    @apply w-full;
  }
  .btn-reverse {
    @apply flex-row-reverse;
  }
</style>
