---
import { getImageUrl } from '../utils'
import BaseButton from './BaseButton.astro'
---

<header id='topo' class='block'>
  <div class='fixed w-full top-0 z-20'>
    <nav
      class='grid container pt-4 grid-cols-[1fr_40px] flex-wrap gap-x-2 lg:flex lg:flex-row lg:justify-between lg:pb-4'
    >
      <a href='/#topo' class='block'>
        <picture>
          <img
            src={getImageUrl(
              'images/logo-bellypao.h144.png',
              'f_auto,q_90,h_40',
            )}
            srcset={`${getImageUrl('images/logo-bellypao.h144.png', 'f_auto,q_90,h_40')} 1x, 
            ${getImageUrl('images/logo-bellypao.h144.png', 'f_auto,q_90,h_60')} 1.5x,
            ${getImageUrl('images/logo-bellypao.h144.png', 'f_auto,q_90,h_80')} 2x,
            ${getImageUrl('images/logo-bellypao.h144.png', 'f_auto,q_90,h_120')} 3x`}
            alt='Logo Belly Pão'
            width='160'
            height='40'
            loading='lazy'
            decoding='async'
          />
        </picture>
      </a>
      <input class='hidden' type='checkbox' id='menu-opened' />
      <label id='menu-button' for='menu-opened'>
        <span class='icon'></span>
      </label>
      <ul id='menu'>
        <li>
          <a class='nav-link' href='/#diferencial'>Diferencial</a>
        </li>
        <li>
          <a class='nav-link' href='/#servicos'>Serviços</a>
        </li>
        <li>
          <a class='nav-link' href='/#produtos'>Produtos</a>
        </li>
        <li>
          <a class='nav-link' href='/#quem-somos'>Quem somos</a>
        </li>
        <li>
          <BaseButton
            href='https://wa.me/5511945488607'
            variant='primary-outline'
            icon='whatsapp'
            size='xs'
            block
            centered>Fale conosco</BaseButton
          >
        </li>
      </ul>
    </nav>
  </div>
  <div class='bg-brown-700 flex flex-col relative'>
    <picture
      class='absolute left-0 right-0 bottom-0 opacity-70 mix-blend-lighten'
    >
      <source
        srcset=`${getImageUrl('images/primeira-dobra.png', 'w_1216,q_90,f_auto')} 1216w, ${getImageUrl('images/primeira-dobra.png', 'w_960,q_90,f_auto')} 960w, ${getImageUrl('images/primeira-dobra.png', 'w_640,q_90,f_auto')} 640w, ${getImageUrl('images/primeira-dobra.png', 'w_576,q_90,f_auto')} 576w, ${getImageUrl('images/primeira-dobra_mobile.png', 'w_375,q_90,f_auto')}`
        sizes='(min-width: 1280px) 1216px, (min-width: 1024px) 960px, 640px'
        media='(min-width: 640px)'
      />
      <source
        srcset=`${getImageUrl('images/primeira-dobra_mobile.png', 'w_1920,q_90,f_auto')} 1920w, ${getImageUrl('images/primeira-dobra_mobile.png', 'w_1280,q_90,f_auto')} 1280w, ${getImageUrl('images/primeira-dobra_mobile.png', 'w_1125,q_90,f_auto')} 1125w, ${getImageUrl('images/primeira-dobra_mobile.png', 'w_960,q_90,f_auto')} 960w, ${getImageUrl('images/primeira-dobra_mobile.png', 'w_750,q_90,f_auto')} 750w, ${getImageUrl('images/primeira-dobra_mobile.png', 'w_640,q_90,f_auto')} 640w, ${getImageUrl('images/primeira-dobra_mobile.png', 'w_563,q_90,f_auto')} 563w, ${getImageUrl('images/primeira-dobra_mobile.png', 'w_375,q_90,f_auto')} 375w`
        media='(max-width: 639px)'
      />
      <img
        src={getImageUrl('images/primeira-dobra_mobile.png', 'w_1080,f_auto')}
        alt='Pão com manteiga'
        class='w-full h-auto aspect-[375/278] mt-auto sm:max-w-[640px] sm:px-8 sm:mx-auto sm:aspect-[640/276] lg:max-w-[1024px] xl:max-w-[1280px] object-cover'
        loading='lazy'
        decoding='async'
      />
    </picture>
    <div class='container mt-[4.5rem] relative z-[2]'>
      <slot />
    </div>
  </div>
</header>
<script>
  const fixedNavbar = document.querySelector('#topo .fixed')

  window.addEventListener('scroll', () => {
    if (window.scrollY > 0) return fixedNavbar?.classList.add('actived')
    return fixedNavbar?.classList.remove('actived')
  })

  const closeMenu = () => {
    const menuOpened = document.getElementById(
      'menu-opened',
    ) as HTMLInputElement
    menuOpened.checked = false
  }
  const menuLinks = Array.from(
    document.querySelectorAll('#menu a'),
  ) as HTMLLinkElement[]
  menuLinks.forEach((menuLink) => {
    menuLink.addEventListener('click', () => closeMenu())
  })

  // click outside
  document.addEventListener(
    'click',
    (event) => {
      const target = event.target as HTMLElement
      const menuOpened = document.getElementById(
        'menu-opened',
      ) as HTMLInputElement
      if (
        !target.closest('#menu') &&
        !target.closest('#menu-button') &&
        !target.closest('#menu-opened') &&
        menuOpened.checked
      ) {
        closeMenu()
      }
    },
    false,
  )
</script>
<style>
  #menu-button {
    @apply cursor-pointer inline-flex p-2 select-none h-10 w-10 border border-brown-800 rounded-lg items-center justify-center justify-self-end;
    @apply lg:hidden;
  }

  .icon {
    @apply bg-[#FFAA33] block h-[2px] relative transition-colors ease-out w-4;
  }

  .icon:before,
  .icon:after {
    @apply bg-[#FFAA33] block h-full w-full absolute transition-all ease-out content-[''];
  }

  .icon:before {
    @apply top-[5px];
  }

  .icon:after {
    @apply top-[-5px];
  }

  #menu {
    @apply max-h-0 transition-max-height duration-200 ease-out clear-both overflow-hidden will-change-auto col-span-2 pt-4 box-border;
    @apply lg:max-h-fit lg:flex lg:items-center lg:justify-center lg:pt-0 lg:gap-x-2;
  }

  #menu li:last-of-type {
    @apply mt-2 lg:mt-0 lg:ml-4;
  }
  #menu li:last-of-type a {
    @apply h-10;
  }

  #menu-opened:checked ~ #menu {
    @apply pb-4;
    max-height: 282px;
  }

  #menu-opened:checked ~ #menu-button .icon {
    background: transparent;
  }

  #menu-opened:checked ~ #menu-button .icon:before {
    top: 0;
    transform: rotate(-45deg);
  }

  #menu-opened:checked ~ #menu-button .icon:after {
    top: 0;
    transform: rotate(45deg);
  }

  .nav-link {
    @apply inline-flex w-full items-center px-2 h-12 text-[#FFECCC] font-semibold rounded-lg hover:bg-[#FFECCC]/10 transition-colors ease-out;
    @apply lg:w-fit lg:px-4 lg:py-3 lg:h-10;
  }

  #topo .fixed.actived {
    @apply bg-brown-700/90 backdrop-blur;
  }

  #topo .fixed:has(#menu-opened:checked) {
    @apply bg-brown-700/90 backdrop-blur rounded-b-lg;
  }
</style>
